@import "tailwindcss";

.container-1 {
  background-color: #000000;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
  background-color: #000000c9;
  backdrop-filter: blur(90px);
}

.btn {
  border: 1px solid #ff5b04;
  transition: 0.3s ease-in;
  color: white;
}

.btn:hover {
  background:linear-gradient(90deg, #ffecb5, #ff5b04);
  cursor: pointer;
  transition: 0.3s ease-in;
  color: #000000;
  border-radius: 15px;
} 

h1 , h2 {
  background: linear-gradient(90deg, #e4fee0, #ff5b04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  background: linear-gradient(90deg, #e4fee0, #ff5b04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ping-btn {
  background: linear-gradient(90deg, #ffd773, #ff5b04);
}

.ping-btn:hover {
  cursor: pointer;
}
